.CodeMirror {
  height: 700px !important;
  position: relative;
}

.CodeMirror-dialog {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 4px;
  background-color: oklch(0.809 0.105 251.813);
  font-size: 12px;
  width: fit-content;
}

.cm-matchhighlight {
  background-color: blue;
  padding: 2px;
}

.CodeMirror-foldmarker {
  font-family: arial;
}
.CodeMirror-foldgutter {
  width: 0.7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #555 !important;
  cursor: pointer !important;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE" !important;
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8" !important;
}
